#solution {
    h1 {
        border-bottom: 1px solid rgba(224,224,224 ,1);
        margin-bottom: 0px;
    }
    h1 + p {
        /* 
        The adjacent sibling combinator (+) matches the second 
        element only if it immediately follows the first element 
        */
        margin-top: 0
    }
    .highlight {
        background-color: yellow;
    }
    .justify {
        text-align: justify;
    }
    .center {
        text-align: center;
    }
    .caps {
        text-transform: uppercase;
    }
    .indent {
        text-indent: 2em;
    }
    .drop-cap:first-letter {
        font-weight: bold;
        font-size: 300%;
        line-height: 1;
        float: left; /* uncomment this to see the effect */
        width: 0.9em;
    }
    a {
        color: darkblue;
        font-weight: bold;
    }
    .no-link a {
        color: red;
    }
    .no-link a:hover {
        color: teal;
    }
}

highlight {
    color: red;
    background-color: #f9f2f4;;
}
